<div class="card mb-4 box-shadow">
    <div class="card-header">
        <h1 class="text-warning">Refrigerio</h1>
    </div>
    <div class="card-body">
        <a class="btn btn-warning" href="@Url.Action("Refrigerio", new { id=Model.First().IdAsistencia})">MARCAR REFRIGERIO</a>
    </div>
</div>
